*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}
/* nav bar start */
nav{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    padding: 0 10px;
    list-style-type: none;
}
.banner{
    display: flex;
    align-items: center;
    font-size: 1.3rem;

}
.banner img{
    height: 40px;
}
/* nav bar end */

/* container starts */
.container{
    min-height: 73vh;
    max-height: 73vh;
    width: 70%;
    border-radius: 12px;
    margin: 20px auto;
    padding: 10px;
    background-color: black;
    display: flex;
    color: white;
    background-image: url('bg.jpg');
    background-size: cover;
}

.songList{
    width: 500px;
    overflow: scroll;
}

.songList::-webkit-scrollbar{
    display: none;
}

.songList h1{
    position: sticky;
    top: 0;
    background-color: black;
}

.songItem{
    display: flex;
    margin:12px 10px 0;
    padding: 5px;
    background-color: white;
    color: black;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content:space-between;
}
.songItem img{
    width: 30px;
    border-radius: 50%;
}

.songItem span{
    padding:0 10px;
}

.spanplay i{
    cursor: pointer;
}
/* container end */

/* bottom starts */
.bottom{
    position: sticky;
    bottom: 0;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    flex-direction: column;
}

.songcontrol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

#progressBar{
    background-color: white;
    width: 80vw;
    height: 1vh;
    margin: 0 10px 0;
    cursor: pointer;
    align-self: center;
    border-radius: 10px;
}

#progress_meter{
    background-color:limegreen;
    height: 1vh;
    width: 0%;
    border-radius: 10px;
}
.icons{
    padding: 15px 0;
    cursor: pointer;
}

.icons i{
    margin:0 10px;
}

.songinfo{
    position: absolute;
    color: white;
    left: 6vw;
    font-size: 1.2rem;
    clear: both;
    width: 85%;
}

#volume{
    float: right;
}

.songinfo img{
    opacity: 0;
    transition: 0.3s ease-in ;
}

#shuffle{
    position: absolute;
    right: 10vw;
    cursor: pointer;
}

/* bottom ends */

/* responsive layout  */

@media screen and (max-width:1100px) {
    .songinfo{
        left: 10vw;
        clear: both;
        width: 75%;
    }
   #progressBar{
    width: 70vw;
   }
}

@media screen and (max-width:750px){
    .songList h1{
        font-size:4vw;
    }
    .songinfo{
        position: relative;
        left: 0;
    }
    .songItem{
        font-size: 16px;
    }
    .spanplay{
        float: right;
    }
}

@media screen and (max-width:500px){
    .songItem{
        font-size: 10px;
        font-weight: 500;
    }
}